<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>基于大数据的网站流量日志分析与可视化研究</title>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
<!-- 头部的盒子 -->
<header>
    <h1>基于大数据的网站流量日志分析与可视化研究</h1>
        <a href="/">
        <button >首页 </button>
    </a>

    <a href="/index_traffic">
        <button >流量分析 </button>
    </a>
    <a href="/index_beVisited">
        <button >受访分析 </button>
    </a>
    <a href="/index_visitor">
        <button >访客分析 </button>
    </a>
    <div class="showTime"></div>
    <script>
        var t = null;
        t = setTimeout(time, 1000); //開始运行
        function time() {
            clearTimeout(t); //清除定时器
            dt = new Date();
            var y = dt.getFullYear();
            var mt = dt.getMonth() + 1;
            var day = dt.getDate();
            var h = dt.getHours(); //获取时
            var m = dt.getMinutes(); //获取分
            var s = dt.getSeconds(); //获取秒
            document.querySelector(".showTime").innerHTML =
                "当前时间：" +
                y +
                "年" +
                mt +
                "月" +
                day +
                "-" +
                h +
                "时" +
                m +
                "分" +
                s +
                "秒";
            t = setTimeout(time, 1000); //设定定时器，循环运行
        }
    </script>
    &
</header>

<!-- 页面主体部分 -->
<section class="mainbox">
    <div class="column">
        <div class="panel bar">
            <h2>流量分析-统计每小时浏览次数</h2>
            <div class="chart"></div>
            <div class="panel-footer"></div>
        </div>
        <div class="panel bar2">
            <h2>
                流量分析-统计每小时独立访客数
            </h2>
            <div class="chart">图表</div>
            <div class="panel-footer"></div>
        </div>
        <div class="panel bar3">
            <h2>流量分析-统计每小时访问次数</h2>
            <div class="chart">图表</div>
            <div class="panel-footer"></div>
        </div>
    </div>
    <div class="column">
        <!-- no模块制作 -->
        <div class="no">
            <div class="no-hd">
                <ul>
                    <li>{%for item in list_single_index_everyday %}
                        {{item['avg_access_time']}}
                        {% endfor %}

                    </li>
                    <li>
                        {%for item in list_single_index_everyday %}
                        {{item['leave_rate']}}
                        {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="no-bd">
                <ul>
                    <li>平均访问时长</li>
                    <li>跳出率</li>
                </ul>
            </div>
        </div>
        <!-- 地图模块 -->
        <div class="map">
            <div class="map1"></div>
            <div class="map2"></div>
            <div class="map3"></div>
            <div class="chart"></div>
        </div>
    </div>
    <div class="column">
        <div class="panel pie">
            <h2>流量分析-统计每小时平均浏览次数</h2>
            <div class="chart">图表</div>
            <div class="panel-footer"></div>
        </div>

        <div class="panel pie3">
            <h2>流量分析-统计每小时平均每次访问的浏览次数</h2>
            <div class="chart">图表</div>
            <div class="panel-footer"></div>
        </div>
        <div class="panel pie2">
            <h2>流量分析-统计每小时平均每个独立访客的访问网站次数</h2>
            <div class="chart">图表</div>
            <div class="panel-footer"></div>
        </div>
    </div>
</section>
<script src="/js/flexible.js"></script>
<script src="/js/echarts.min.js"></script>
<!-- 先引入jquery -->
<script src="/js/jquery.js"></script>
<!-- 必须先引入china.js 这个文件 因为中国地图需要 -->
<script src="/js/china.js"></script>
<!--    <script src="/js/index.js" value={{dict2map}}></script>-->
<script>
        // 直立柱状图
    (function () {
        // 1实例化对象
        var myChart = echarts.init(document.querySelector(".bar .chart"));
        // 2. 指定配置项和数据
        var option = {
            color: ["#FFA500"],
            tooltip: {
                trigger: "axis",
                axisPointer: {
                    // 坐标轴指示器，坐标轴触发有效
                    type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            // 修改图表的大小
            grid: {
                left: "0%",
                top: "10px",
                right: "0%",
                bottom: "4%",
                containLabel: true
            },
            xAxis: [
                {
                    type: "category",
                    data:
                    [
                        {% for item in list_pvs_everyhour_oneday%}
                            {{item['hour']|safe}},
                        {% endfor %}

                    ],

                    axisTick: {
                        alignWithLabel: true
                    },
                    // 修改刻度标签 相关样式
                    axisLabel: {
                        color: "rgba(255,255,255,.6) ",
                        fontSize: "12",
                        // interval: 0,
                        // rotate: -20 //倾斜的程度
                    },
                    // 不显示x坐标轴的样式
                    axisLine: {
                        show: false
                    }
                }
            ],
            yAxis: [
                {
                    type: "value",
                    // 修改刻度标签 相关样式
                    axisLabel: {
                        color: "rgba(255,255,255,.6) ",
                        fontSize: 12
                    },
                    // y轴的线条改为了 2像素
                    axisLine: {
                        lineStyle: {
                            color: "rgba(255,255,255,.1)",
                            width: 2
                        }
                    },
                    // y轴分割线的颜色
                    splitLine: {
                        lineStyle: {
                            color: "rgba(255,255,255,.1)"
                        }
                    }
                }
            ],
            series: [
                {
                    name: "浏览次数(pvs)",
                    type: "bar",
                    barWidth: "35%",
                    data: [
                        {% for item in list_pvs_everyhour_oneday%}
                            {{item['pvs']}},
                        {% endfor %}
                    ],
                    itemStyle: {
                        // 修改柱子圆角
                        barBorderRadius: 5
                    }
                }
            ]
        };
        // 3. 把配置项给实例对象
        myChart.setOption(option);
        // 4. 让图表跟随屏幕自动的去适应
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    })();
            // 直立柱状图
    (function () {
        // 1实例化对象
        var myChart = echarts.init(document.querySelector(".bar2 .chart"));
        // 2. 指定配置项和数据
        var option = {
            color: ["#FFA500"],
            tooltip: {
                trigger: "axis",
                axisPointer: {
                    // 坐标轴指示器，坐标轴触发有效
                    type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            // 修改图表的大小
            grid: {
                left: "0%",
                top: "10px",
                right: "0%",
                bottom: "4%",
                containLabel: true
            },
            xAxis: [
                {
                    type: "category",
                    data:
                    [
                        {% for item in list_uvs_everyhour_oneday%}
                            {{item['hour']|safe}},
                        {% endfor %}

                    ],

                    axisTick: {
                        alignWithLabel: true
                    },
                    // 修改刻度标签 相关样式
                    axisLabel: {
                        color: "rgba(255,255,255,.6) ",
                        fontSize: "12",
                        // interval: 0,
                        // rotate: -20 //倾斜的程度
                    },
                    // 不显示x坐标轴的样式
                    axisLine: {
                        show: false
                    }
                }
            ],
            yAxis: [
                {
                    type: "value",
                    // 修改刻度标签 相关样式
                    axisLabel: {
                        color: "rgba(255,255,255,.6) ",
                        fontSize: 12
                    },
                    // y轴的线条改为了 2像素
                    axisLine: {
                        lineStyle: {
                            color: "rgba(255,255,255,.1)",
                            width: 2
                        }
                    },
                    // y轴分割线的颜色
                    splitLine: {
                        lineStyle: {
                            color: "rgba(255,255,255,.1)"
                        }
                    }
                }
            ],
            series: [
                {
                    name: "独立访客数(uvs)",
                    type: "bar",
                    barWidth: "35%",
                    data: [
                        {% for item in list_uvs_everyhour_oneday%}
                            {{item['uvs']}},
                        {% endfor %}
                    ],
                    itemStyle: {
                        // 修改柱子圆角
                        barBorderRadius: 5
                    }
                }
            ]
        };
        // 3. 把配置项给实例对象
        myChart.setOption(option);
        // 4. 让图表跟随屏幕自动的去适应
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    })();
            // 直立柱状图
    (function () {
        // 1实例化对象
        var myChart = echarts.init(document.querySelector(".bar3 .chart"));
        // 2. 指定配置项和数据
        var option = {
            color: ["#FFA500"],
            tooltip: {
                trigger: "axis",
                axisPointer: {
                    // 坐标轴指示器，坐标轴触发有效
                    type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            // 修改图表的大小
            grid: {
                left: "0%",
                top: "10px",
                right: "0%",
                bottom: "4%",
                containLabel: true
            },
            xAxis: [
                {
                    type: "category",
                    data:
                    [
                        {% for item in list_vvs_everyhour_oneday%}
                            {{item['hour']|safe}},
                        {% endfor %}

                    ],

                    axisTick: {
                        alignWithLabel: true
                    },
                    // 修改刻度标签 相关样式
                    axisLabel: {
                        color: "rgba(255,255,255,.6) ",
                        fontSize: "12",
                        // interval: 0,
                        // rotate: -20 //倾斜的程度
                    },
                    // 不显示x坐标轴的样式
                    axisLine: {
                        show: false
                    }
                }
            ],
            yAxis: [
                {
                    type: "value",
                    // 修改刻度标签 相关样式
                    axisLabel: {
                        color: "rgba(255,255,255,.6) ",
                        fontSize: 12
                    },
                    // y轴的线条改为了 2像素
                    axisLine: {
                        lineStyle: {
                            color: "rgba(255,255,255,.1)",
                            width: 2
                        }
                    },
                    // y轴分割线的颜色
                    splitLine: {
                        lineStyle: {
                            color: "rgba(255,255,255,.1)"
                        }
                    }
                }
            ],
            series: [
                {
                    name: "访问次数(vvs)",
                    type: "bar",
                    barWidth: "35%",
                    data: [
                        {% for item in list_vvs_everyhour_oneday%}
                            {{item['vvs']}},
                        {% endfor %}
                    ],
                    itemStyle: {
                        // 修改柱子圆角
                        barBorderRadius: 5
                    }
                }
            ]
        };
        // 3. 把配置项给实例对象
        myChart.setOption(option);
        // 4. 让图表跟随屏幕自动的去适应
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    })();
        //7 饼图pie
    (function () {
        var myChart = echarts.init(document.querySelector(".pie .chart"));
        var option = {
            color: [
                "#006cff",
                "#60cda0",
                "#ed8884",
                "#ff9f7f",
                "#0096ff",
                "#9fe6b8",
                "#32c5e9"
            ],
            tooltip: {
                trigger: "item",
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                bottom: "0%",
                itemWidth: 10,
                itemHeight: 10,
                textStyle: {
                    color: "rgba(255,255,255,.5)",
                    fontSize: "12"
                }
            },
            series: [
                {
                    name: "pvs/uvs",
                    type: "pie",
                    radius: ["10%", "70%"],
                    center: ["50%", "50%"],
                    roseType: "radius",
                    // 图形的文字标签
                    label: {
                        fontSize: 10
                    },
                    // 链接图形和文字的线条
                    labelLine: {
                        // length 链接图形的线条
                        length: 6,
                        // length2 链接文字的线条
                        length2: 8
                    },
                    data: [
                        {% for item in list_avgpv_user_everyhour_oneday %}
                            {value:{{item['avgpv']}},name:{{item['hour']}}},
                        {% endfor %}
                    ]
                }
            ]
        };
        myChart.setOption(option);
        // 监听浏览器缩放，图表对象调用缩放resize函数
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    })();
        //8 饼图pie
    (function () {
        var myChart = echarts.init(document.querySelector(".pie2 .chart"));
        var option = {
            color: [
                "#006cff",
                "#60cda0",
                "#ed8884",
                "#ff9f7f",
                "#0096ff",
                "#9fe6b8",
                "#32c5e9"
            ],
            tooltip: {
                trigger: "item",
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                bottom: "0%",
                itemWidth: 10,
                itemHeight: 10,
                textStyle: {
                    color: "rgba(255,255,255,.5)",
                    fontSize: "12"
                }
            },
            series: [
                {
                    name: "vvs/uvs",
                    type: "pie",
                    radius: ["10%", "70%"],
                    center: ["50%", "50%"],
                    roseType: "radius",
                    // 图形的文字标签
                    label: {
                        fontSize: 10
                    },
                    // 链接图形和文字的线条
                    labelLine: {
                        // length 链接图形的线条
                        length: 6,
                        // length2 链接文字的线条
                        length2: 8
                    },
                    data: [
                        {% for item in list_avgsessions_user_everyhour_oneday %}
                            {value:{{item['avgsessions']}},name:{{item['hour']}}},
                        {% endfor %}
                    ]
                }
            ]
        };
        myChart.setOption(option);
        // 监听浏览器缩放，图表对象调用缩放resize函数
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    })();
        //9 饼图pie
    (function () {
        var myChart = echarts.init(document.querySelector(".pie3 .chart"));
        var option = {
            color: [
                "#006cff",
                "#60cda0",
                "#ed8884",
                "#ff9f7f",
                "#0096ff",
                "#9fe6b8",
                "#32c5e9"
            ],
            tooltip: {
                trigger: "item",
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                bottom: "0%",
                itemWidth: 10,
                itemHeight: 10,
                textStyle: {
                    color: "rgba(255,255,255,.5)",
                    fontSize: "12"
                }
            },
            series: [
                {
                    name: "pvs/vvs",
                    type: "pie",
                    radius: ["10%", "70%"],
                    center: ["50%", "50%"],
                    roseType: "radius",
                    // 图形的文字标签
                    label: {
                        fontSize: 10
                    },
                    // 链接图形和文字的线条
                    labelLine: {
                        // length 链接图形的线条
                        length: 6,
                        // length2 链接文字的线条
                        length2: 8
                    },
                    data: [
                        {% for item in list_avgpvs_session_everyhour_oneday %}
                            {value:{{item['avgpvs']}},name:{{item['hour']}}},
                        {% endfor %}
                    ]
                }
            ]
        };
        myChart.setOption(option);
        // 监听浏览器缩放，图表对象调用缩放resize函数
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    })();

        //2 百分比柱状图
    // (function () {
    //     var myColor = ["#1089E7", "#F57474", "#56D0E3", "#F8B448", "#8B78F6"];
    //     // 1. 实例化对象
    //     var myChart = echarts.init(document.querySelector(".bar .chart"));
    //     // 2. 指定配置和数据
    //     var option = {
    //         grid: {
    //             top: "10%",
    //             left: "22%",
    //             bottom: "10%"
    //             // containLabel: true
    //         },
    //         // 不显示x轴的相关信息
    //         xAxis: {
    //             show: false
    //         },
    //         yAxis: [
    //             {
    //                 type: "category",
    //                 inverse: true,
    //                 data:
    //                 [
    //                     {% for item in list_pvs_everyhour_oneday %}
    //                         {{item['hour']}},
    //                     {% endfor %}
    //                 ]
    //                 ,
    //                 // 不显示y轴的线
    //                 axisLine: {
    //                     show: false
    //                 },
    //                 // 不显示刻度
    //                 axisTick: {
    //                     show: false
    //                 },
    //                 // 把刻度标签里面的文字颜色设置为白色
    //                 axisLabel: {
    //                     color: "#fff"
    //                 }
    //             },
    //             {
    //                 data:
    //                   [
    //                     {% for item in list_pvs_everyhour_oneday %}
    //                         {{item['pvs']}},
    //                     {% endfor %}
    //                 ],
    //                 inverse: true,
    //                 // 不显示y轴的线
    //                 axisLine: {
    //                     show: false
    //                 },
    //                 // 不显示刻度
    //                 axisTick: {
    //                     show: false
    //                 },
    //                 // 把刻度标签里面的文字颜色设置为白色
    //                 axisLabel: {
    //                     color: "#fff"
    //                 }
    //             }
    //         ],
    //         series: [
    //             {
    //                 name: "条",
    //                 type: "bar",
    //                 data:
    //                                         [
    //                     {% for item in percent_2 %}
    //                         {{item}},
    //                     {% endfor %}
    //                 ],
    //
    //                 yAxisIndex: 0,
    //                 // 修改第一组柱子的圆角
    //                 itemStyle: {
    //                     barBorderRadius: 20,
    //                     // 此时的color 可以修改柱子的颜色
    //                     color: function (params) {
    //                         // params 传进来的是柱子对象
    //                         // console.log(params);
    //                         // dataIndex 是当前柱子的索引号
    //                         return myColor[params.dataIndex];
    //                     }
    //                 },
    //                 // 柱子之间的距离
    //                 barCategoryGap: 50,
    //                 //柱子的宽度
    //                 barWidth: 10,
    //                 // 显示柱子内的文字
    //                 label: {
    //                     show: true,
    //                     position: "inside",
    //                     // {c} 会自动的解析为 数据  data里面的数据
    //                     formatter: "{c}%"
    //                 }
    //             },
    //             {
    //                 name: "框",
    //                 type: "bar",
    //                 barCategoryGap: 50,
    //                 barWidth: 15,
    //                 yAxisIndex: 1,
    //                 data: [100, 100, 100, 100, 100],
    //                 itemStyle: {
    //                     color: "none",
    //                     borderColor: "#00c1de",
    //                     borderWidth: 3,
    //                     barBorderRadius: 15
    //                 }
    //             }
    //         ]
    //     };
    //
    //     // 3. 把配置给实例对象
    //     myChart.setOption(option);
    //     // 4. 让图表跟随屏幕自动的去适应
    //     window.addEventListener("resize", function () {
    //         myChart.resize();
    //     });
    // })();
    // 饼形图2 学历模块
    // (function () {
    //     var myChart = echarts.init(document.querySelector(".pie .chart"));
    //     var option = {
    //         color: [
    //             "#006cff",
    //             "#60cda0",
    //             "#ed8884",
    //             "#ff9f7f",
    //             "#0096ff",
    //             "#9fe6b8",
    //             "#32c5e9"
    //         ],
    //         tooltip: {
    //             trigger: "item",
    //             formatter: "{a} <br/>{b} : {c} ({d}%)"
    //         },
    //         legend: {
    //             bottom: "0%",
    //             itemWidth: 10,
    //             itemHeight: 10,
    //             textStyle: {
    //                 color: "rgba(255,255,255,.5)",
    //                 fontSize: "12"
    //             }
    //         },
    //         series: [
    //             {
    //                 name: "学历",
    //                 type: "pie",
    //                 radius: ["10%", "70%"],
    //                 center: ["50%", "50%"],
    //                 roseType: "radius",
    //                 // 图形的文字标签
    //                 label: {
    //                     fontSize: 10
    //                 },
    //                 // 链接图形和文字的线条
    //                 labelLine: {
    //                     // length 链接图形的线条
    //                     length: 6,
    //                     // length2 链接文字的线条
    //                     length2: 8
    //                 },
    //                 data: [
    //                     {% for item in list_avgpv_user_everyhour_oneday %}
    //                         {value:{{item['avgpv']}},name:{{item['hour']}}},
    //                     {% endfor %}
    //                 ]
    //             }
    //         ]
    //     };
    //     myChart.setOption(option);
    //     // 监听浏览器缩放，图表对象调用缩放resize函数
    //     window.addEventListener("resize", function () {
    //         myChart.resize();
    //     });
    // })();


    // 模拟飞行路线模块地图模块

    // 柱状图模块2
    // (function () {
    //     // 1实例化对象
    //     var myChart = echarts.init(document.querySelector(".line .chart"));
    //     // 2. 指定配置项和数据
    //     var option = {
    //         color: ["#FFA500"],
    //         tooltip: {
    //             trigger: "axis",
    //             axisPointer: {
    //                 // 坐标轴指示器，坐标轴触发有效
    //                 type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
    //             }
    //         },
    //         // 修改图表的大小
    //         grid: {
    //             left: "0%",
    //             top: "10px",
    //             right: "0%",
    //             bottom: "4%",
    //             containLabel: true
    //         },
    //         xAxis: [
    //             {
    //                 type: "category",
    //                 data:
    //                 [
    //                     {% for item in list_uvs_everyhour_oneday%}
    //                         {{item['hour']}},
    //                     {% endfor %}
    //
    //                 ],
    //                 axisTick: {
    //                     alignWithLabel: true
    //                 },
    //                 // 修改刻度标签 相关样式
    //                 axisLabel: {
    //                     color: "rgba(255,255,255,.6) ",
    //                     fontSize: "12"
    //                 },
    //                 // 不显示x坐标轴的样式
    //                 axisLine: {
    //                     show: false
    //                 }
    //             }
    //         ],
    //         yAxis: [
    //             {
    //                 type: "value",
    //                 // 修改刻度标签 相关样式
    //                 axisLabel: {
    //                     color: "rgba(255,255,255,.6) ",
    //                     fontSize: 12
    //                 },
    //                 // y轴的线条改为了 2像素
    //                 axisLine: {
    //                     lineStyle: {
    //                         color: "rgba(255,255,255,.1)",
    //                         width: 2
    //                     }
    //                 },
    //                 // y轴分割线的颜色
    //                 splitLine: {
    //                     lineStyle: {
    //                         color: "rgba(255,255,255,.1)"
    //                     }
    //                 }
    //             }
    //         ],
    //         series: [
    //             {
    //                 name: "独立访客量(uvs)",
    //                 type: "bar",
    //                 barWidth: "35%",
    //                 data: [
    //                     {% for item in list_uvs_everyhour_oneday%}
    //                         {{item['uvs']}},
    //                     {% endfor %}
    //                 ],
    //                 itemStyle: {
    //                     // 修改柱子圆角
    //                     barBorderRadius: 5
    //                 }
    //             }
    //         ]
    //     };
    //     // 3. 把配置项给实例对象
    //     myChart.setOption(option);
    //     // 4. 让图表跟随屏幕自动的去适应
    //     window.addEventListener("resize", function () {
    //         myChart.resize();
    //     });
    // })();

    // 折线图1模块制作
    // (function () {
    //     var yearData = [
    //         {
    //             data: [
    //                 [0.8683, 1.2568, 1.2828, 1.5147, 1.8594, 2.3964, 3.1461, 3.6195],
    //             ]
    //         },
    //     ];
    //     // 1. 实例化对象
    //     var myChart = echarts.init(document.querySelector(".line .chart"));
    //     // 2.指定配置
    //     var option = {
    //         // 通过这个color修改两条线的颜色
    //         color: ["#00f2f1"],
    //         tooltip: {
    //             trigger: "axis"
    //         },
    //         legend: {
    //             // 如果series 对象有name 值，则 legend可以不用写data
    //             // 修改图例组件 文字颜色
    //             textStyle: {
    //                 color: "#4c9bfd"
    //             },
    //             // 这个10% 必须加引号
    //             right: "10%"
    //         },
    //         grid: {
    //             top: "20%",
    //             left: "3%",
    //             right: "4%",
    //             bottom: "3%",
    //             show: true, // 显示边框
    //             borderColor: "#012f4a", // 边框颜色
    //             containLabel: true // 包含刻度文字在内
    //         },
    //
    //         xAxis: {
    //             type: "category",
    //             boundaryGap: false,
    //             data: [
    //                 "校招",
    //                 "无需经验",
    //                 "1年",
    //                 "2年",
    //                 "3-4年",
    //                 "5-7年",
    //                 "8-9年",
    //                 "10年以上"
    //             ],
    //             axisTick: {
    //                 show: false // 去除刻度线
    //             },
    //             axisLabel: {
    //                 color: "#4c9bfd" // 文本颜色
    //             },
    //             axisLine: {
    //                 show: false // 去除轴线
    //             }
    //         },
    //         yAxis: {
    //             type: "value",
    //             axisTick: {
    //                 show: false // 去除刻度线
    //             },
    //             axisLabel: {
    //                 color: "#4c9bfd" // 文本颜色
    //             },
    //             axisLine: {
    //                 show: false // 去除轴线
    //             },
    //             splitLine: {
    //                 lineStyle: {
    //                     color: "#012f4a" // 分割线颜色
    //                 }
    //             }
    //         },
    //         series: [
    //             {
    //                 name: "工作经验与平均薪资",
    //                 type: "line",
    //                 // true 可以让我们的折线显示带有弧度
    //                 smooth: true,
    //                 data: yearData[0].data[0]
    //             },
    //         ]
    //     };
    //
    //     // 3. 把配置给实例对象
    //     myChart.setOption(option);
    //     // 4. 让图表跟随屏幕自动的去适应
    //     window.addEventListener("resize", function () {
    //         myChart.resize();
    //     });
    //
    //     // 5.点击切换效果
    //     $(".line h2").on("click", "a", function () {
    //         // alert(1);
    //         // console.log($(this).index());
    //         // 点击 a 之后 根据当前a的索引号 找到对应的 yearData的相关对象
    //         // console.log(yearData[$(this).index()]);
    //         var obj = yearData[$(this).index()];
    //         option.series[0].data = obj.data[0];
    //         option.series[1].data = obj.data[1];
    //         // 需要重新渲染
    //         myChart.setOption(option);
    //     });
    // })();
    // 折线图2 模块制作
    //折线图=柱状图3
    // (function () {
    //     // 1实例化对象
    //     var myChart = echarts.init(document.querySelector(".line2 .chart"));
    //     // 2. 指定配置项和数据
    //     var option = {
    //         color: ["#FFA500"],
    //         tooltip: {
    //             trigger: "axis",
    //             axisPointer: {
    //                 // 坐标轴指示器，坐标轴触发有效
    //                 type: "shadow" // 默认为直线，可选为：'line' | 'shadow'
    //             }
    //         },
    //         // 修改图表的大小
    //         grid: {
    //             left: "0%",
    //             top: "10px",
    //             right: "0%",
    //             bottom: "4%",
    //             containLabel: true
    //         },
    //         xAxis: [
    //             {
    //                 type: "category",
    //                 data:
    //                 [
    //                     {% for item in list_vvs_everyhour_oneday%}
    //                         {{item['hour']}},
    //                     {% endfor %}
    //
    //                 ],
    //                 axisTick: {
    //                     alignWithLabel: true
    //                 },
    //                 // 修改刻度标签 相关样式
    //                 axisLabel: {
    //                     color: "rgba(255,255,255,.6) ",
    //                     fontSize: "12"
    //                 },
    //                 // 不显示x坐标轴的样式
    //                 axisLine: {
    //                     show: false
    //                 }
    //             }
    //         ],
    //         yAxis: [
    //             {
    //                 type: "value",
    //                 // 修改刻度标签 相关样式
    //                 axisLabel: {
    //                     color: "rgba(255,255,255,.6) ",
    //                     fontSize: 12
    //                 },
    //                 // y轴的线条改为了 2像素
    //                 axisLine: {
    //                     lineStyle: {
    //                         color: "rgba(255,255,255,.1)",
    //                         width: 2
    //                     }
    //                 },
    //                 // y轴分割线的颜色
    //                 splitLine: {
    //                     lineStyle: {
    //                         color: "rgba(255,255,255,.1)"
    //                     }
    //                 }
    //             }
    //         ],
    //         series: [
    //             {
    //                 name: "访问次数(vvs)",
    //                 type: "bar",
    //                 barWidth: "35%",
    //                 data: [
    //                     {% for item in list_vvs_everyhour_oneday%}
    //                         {{item['vvs']}},
    //                     {% endfor %}
    //                 ],
    //                 itemStyle: {
    //                     // 修改柱子圆角
    //                     barBorderRadius: 5
    //                 }
    //             }
    //         ]
    //     };
    //     // 3. 把配置项给实例对象
    //     myChart.setOption(option);
    //     // 4. 让图表跟随屏幕自动的去适应
    //     window.addEventListener("resize", function () {
    //         myChart.resize();
    //     });
    // })();

    // (function () {
    //     var myChart = echarts.init(document.querySelector(".bar2 .chart"));
    //     var option = {
    //         tooltip: {
    //             trigger: "axis"
    //         },
    //         legend: {
    //             top: "0%",
    //             data: [],
    //             textStyle: {
    //                 color: "rgba(255,255,255,.5)",
    //                 fontSize: "12"
    //             }
    //         },
    //
    //         grid: {
    //             left: "10",
    //             top: "30",
    //             right: "10",
    //             bottom: "10",
    //             containLabel: true
    //         },
    //         xAxis: [
    //             {
    //                 type: "category",
    //                 boundaryGap: false,
    //                 // x轴更换数据
    //                 data: [
    //                     {% for item in list_avgpv_user_everyhour_oneday%}
    //                         {{item['hour']}},
    //                     {% endfor %}
    //                 ],
    //                 // 文本颜色为rgba(255,255,255,.6)  文字大小为 12
    //                 axisLabel: {
    //                     textStyle: {
    //                         color: "rgba(255,255,255,.6)",
    //                         fontSize: 12
    //                     }
    //                 },
    //                 // x轴线的颜色为   rgba(255,255,255,.2)
    //                 axisLine: {
    //                     lineStyle: {
    //                         color: "rgba(255,255,255,.2)"
    //                     }
    //                 }
    //             }
    //         ],
    //         yAxis: [
    //             {
    //                 type: "value",
    //                 axisTick: {show: false},
    //                 axisLine: {
    //                     lineStyle: {
    //                         color: "rgba(255,255,255,.1)"
    //                     }
    //                 },
    //                 axisLabel: {
    //                     textStyle: {
    //                         color: "rgba(255,255,255,.6)",
    //                         fontSize: 12
    //                     }
    //                 },
    //                 // 修改分割线的颜色
    //                 splitLine: {
    //                     lineStyle: {
    //                         color: "rgba(255,255,255,.1)"
    //                     }
    //                 }
    //             }
    //         ],
    //         series: [
    //             {
    //                 name: "平均浏览次数",
    //                 type: "line",
    //                 smooth: true,
    //                 lineStyle: {
    //                     normal: {
    //                         color: "#00d887",
    //                         width: 2
    //                     }
    //                 },
    //                 areaStyle: {
    //                     normal: {
    //                         color: new echarts.graphic.LinearGradient(
    //                             0,
    //                             0,
    //                             0,
    //                             1,
    //                             [
    //                                 {
    //                                     offset: 0,
    //                                     color: "rgba(0, 216, 135, 0.4)"
    //                                 },
    //                                 {
    //                                     offset: 0.8,
    //                                     color: "rgba(0, 216, 135, 0.1)"
    //                                 }
    //                             ],
    //                             false
    //                         ),
    //                         shadowColor: "rgba(0, 0, 0, 0.1)"
    //                     }
    //                 },
    //                 // 设置拐点 小圆点
    //                 symbol: "circle",
    //                 // 拐点大小
    //                 symbolSize: 5,
    //                 // 设置拐点颜色以及边框
    //                 itemStyle: {
    //                     color: "#00d887",
    //                     borderColor: "rgba(221, 220, 107, .1)",
    //                     borderWidth: 12
    //                 },
    //                 // 开始不显示拐点， 鼠标经过显示
    //                 showSymbol: false,
    //                 data: [
    //                     {% for item in list_avgpv_user_everyhour_oneday%}
    //                         {{item['avgpv']}},
    //                     {% endfor %}
    //                 ]
    //             }
    //         ]
    //     };
    //     myChart.setOption(option);
    //     // 4. 让图表跟随屏幕自动的去适应
    //     window.addEventListener("resize", function () {
    //         myChart.resize();
    //     });
    // })();
        // 饼形图1=line2
    // (function () {
    //     // 1. 实例化对象
    //     var myChart = echarts.init(document.querySelector(".line2 .chart"));
    //     // 2.指定配置
    //     var option = {
    //         color: ["#FFD700", "#D2691E", "#FF0000", "#800000", "#DEB887", "#9ACD32", "#32CD32", "#4682B4"],
    //         tooltip: {
    //             trigger: "item",
    //             formatter: "{a} <br/>{b}: {c} ({d}%)"
    //         },
    //
    //         legend: {
    //             bottom: "0%",
    //             // 修改小图标的大小
    //             itemWidth: 10,
    //             itemHeight: 10,
    //             // 修改图例组件的文字为 12px
    //             textStyle: {
    //                 color: "rgba(255,255,255,.5)",
    //                 fontSize: "12"
    //             }
    //         },
    //         series: [
    //             {
    //                 name: "主机名称",
    //                 type: "pie",
    //                 // 这个radius可以修改饼形图的大小
    //                 // radius 第一个值是内圆的半径 第二个值是外圆的半径
    //                 radius: ["40%", "60%"],
    //                 center: ["50%", "45%"],
    //                 avoidLabelOverlap: false,
    //                 // 图形上的文字
    //                 label: {
    //                     show: false,
    //                     position: "center"
    //                 },
    //                 // 链接文字和图形的线是否显示
    //                 labelLine: {
    //                     show: false
    //                 },
    //                 data: [
    //                     {% for item in list_user_returnrate_everyday%}
    //                        {value:{{item['count_return']}},name:"回头访客数"},
    //                        {value:{{item['count_noreturn']}},name:"单次访客数"},
    //                     {% endfor %}
    //                     ]
    //             }
    //         ]
    //     };
    //
    //     // 3. 把配置给实例对象
    //     myChart.setOption(option);
    //     // 4. 让图表跟随屏幕自动的去适应
    //     window.addEventListener("resize", function () {
    //         myChart.resize();
    //     });
    // })();
    // 饼形图1
    // (function () {
    //     // 1. 实例化对象
    //     var myChart = echarts.init(document.querySelector(".pie .chart"));
    //     // 2.指定配置
    //     var option = {
    //         color: ["#FFD700", "#D2691E", "#FF0000", "#800000", "#DEB887", "#9ACD32", "#32CD32", "#4682B4"],
    //         tooltip: {
    //             trigger: "item",
    //             formatter: "{a} <br/>{b}: {c} ({d}%)"
    //         },
    //
    //         legend: {
    //             bottom: "0%",
    //             // 修改小图标的大小
    //             itemWidth: 10,
    //             itemHeight: 10,
    //             // 修改图例组件的文字为 12px
    //             textStyle: {
    //                 color: "rgba(255,255,255,.5)",
    //                 fontSize: "12"
    //             }
    //         },
    //         series: [
    //             {
    //                 name: "主机名称",
    //                 type: "pie",
    //                 // 这个radius可以修改饼形图的大小
    //                 // radius 第一个值是内圆的半径 第二个值是外圆的半径
    //                 radius: ["40%", "60%"],
    //                 center: ["50%", "45%"],
    //                 avoidLabelOverlap: false,
    //                 // 图形上的文字
    //                 label: {
    //                     show: false,
    //                     position: "center"
    //                 },
    //                 // 链接文字和图形的线是否显示
    //                 labelLine: {
    //                     show: false
    //                 },
    //                 data: [
    //                     {% for item in list_dw_pvs_refererhost_everyday%}
    //                        {value:{{item['cnts']}},name:{{item['referhost']|safe}}},
    //                     {% endfor %}
    //                     ]
    //             }
    //         ]
    //     };
    //
    //     // 3. 把配置给实例对象
    //     myChart.setOption(option);
    //     // 4. 让图表跟随屏幕自动的去适应
    //     window.addEventListener("resize", function () {
    //         myChart.resize();
    //     });
    // })();


    (function () {
        var myChart = echarts.init(document.querySelector(".map .chart"));

        var nameColor = " rgb(55, 75, 113)"
        var name_fontFamily = '等线'
        var subname_fontSize = 15
        var name_fontSize = 18
        var mapName = 'china'
        var data =
            [{
                name: "北京",
                value: 100
            },
                {
                    name: "天津",
                    value: 0
                },
                {
                    name: "河北",
                    value: 97
                },
                {
                    name: "山西",
                    value: 36
                },
                {
                    name: "内蒙古",
                    value: 18
                },
                {
                    name: "辽宁",
                    value: 94
                },
                {
                    name: "吉林",
                    value: 46
                },
                {
                    name: "黑龙江",
                    value: 35
                },
                {
                    name: "上海",
                    value: 3234
                },
                {
                    name: "江苏",
                    value: 2286
                },
                {
                    name: "浙江",
                    value: 1096
                },
                {
                    name: "安徽",
                    value: 488
                },
                {
                    name: "福建",
                    value: 521
                },
                {
                    name: "江西",
                    value: 333
                },
                {
                    name: "山东",
                    value: 444
                },
                {
                    name: "河南",
                    value: 196
                },
                {
                    name: "湖北",
                    value: 1687
                },
                {
                    name: "湖南",
                    value: 423
                },
                {
                    name: "重庆",
                    value: 396
                },
                {
                    name: "四川",
                    value: 973
                },
                {
                    name: "贵州",
                    value: 44
                },
                {
                    name: "云南",
                    value: 221
                },
                {
                    name: "西藏",
                    value: 2
                },
                {
                    name: "陕西",
                    value: 582
                },
                {
                    name: "甘肃",
                    value: 21
                },
                {
                    name: "青海",
                    value: 12
                },
                {
                    name: "宁夏",
                    value: 15
                },
                {
                    name: "新疆",
                    value: 24
                },
                {
                    name: "广东",
                    value: 5611
                },
                {
                    name: "广西",
                    value: 13
                },
                {
                    name: "海南",
                    value: 1
                },
            ];

        var geoCoordMap = {};
        var toolTipData =[
            {% for item in dict2map%}
                {name:{{item['name']|safe}},value:[{name:"个数",value: {{item['value']}} }]},
            {%endfor%}


        ];


                /*获取地图数据*/
        myChart.showLoading();
        var mapFeatures = echarts.getMap(mapName).geoJson.features;
        myChart.hideLoading();
        mapFeatures.forEach(function (v) {
            // 地区名称
            var name = v.properties.name;
            // 地区经纬度
            geoCoordMap[name] = v.properties.cp;

        });


        var max = 480, min = 9;
        var maxSize4Pin = 100, minSize4Pin = 20;

        var convertData = function (data) {
            var res = [];
            for (var i = 0; i < data.length; i++) {
                var geoCoord = geoCoordMap[data[i].name];
                if (geoCoord) {
                    res.push({
                        name: data[i].name,
                        value: geoCoord.concat(data[i].value),
                    });
                }
                return res;
            }
        };
        //console.log( convertData(data))

        option = {
            title: {
                x: 'center',
                textStyle: {
                    color: nameColor,
                    fontFamily: name_fontFamily,
                    fontSize: name_fontSize
                },
                subtextStyle: {
                    fontSize: subname_fontSize,
                    fontFamily: name_fontFamily
                }
            },
            tooltip: {
                trigger: 'item',
                formatter: function (params) {
                    if (typeof (params.value)[2] == "undefined") {
                        var toolTiphtml = ''
                        for (var i = 0; i < toolTipData.length; i++) {
                            if (params.name == toolTipData[i].name) {
                                toolTiphtml += toolTipData[i].name + ':<br>'
                                for (var j = 0; j < toolTipData[i].value.length; j++) {
                                    toolTiphtml += toolTipData[i].value[j].name + ':' + toolTipData[i].value[j].value + "<br>"
                                }
                            }
                        }
                        // console.log(toolTiphtml)
                        // console.log(convertData(data))
                        return toolTiphtml;
                    } else {
                        var toolTiphtml = ''
                        for (var i = 0; i < toolTipData.length; i++) {
                            if (params.name == toolTipData[i].name) {
                                toolTiphtml += toolTipData[i].name + ':<br>'
                                for (var j = 0; j < toolTipData[i].value.length; j++) {
                                    toolTiphtml += toolTipData[i].value[j].name + ':' + toolTipData[i].value[j].value + "<br>"
                                }
                            }
                        }
                        // console.log(toolTiphtml)
                        // console.log(convertData(data))
                        return toolTiphtml;
                    }
                }
            },

            visualMap: {
                show: true,
                min: 3000,
                max: 0,
                left: 'left',
                top: 'bottom',
                text: ['高', '低'], // 文本，默认为数值文本
                seriesIndex: [1],
                calculable: true,
                inRange: {
                    // color: ['#3B5077', '#031525'] // 蓝黑
                    // color: ['#ffc0cb', '#800080'] // 红紫
                    // color: ['#3C3B3F', '#605C3C'] // 黑绿
                    // color: ['#0f0c29', '#302b63', '#24243e'] // 黑紫黑
                    // color: ['#23074d', '#cc5333'] // 紫红
                    color: ['#00467F', '#A5CC82'] // 蓝绿
                    // color: ['#1488CC', '#2B32B2'] // 浅蓝
                    // color: ['#00467F', '#A5CC82'] // 蓝绿
                    // color: ['#00467F', '#A5CC82'] // 蓝绿
                    // color: ['#00467F', '#A5CC82'] // 蓝绿
                    // color: ['#00467F', '#A5CC82'] // 蓝绿

                }
            },

            geo: {
                show: true,
                map: mapName,
                label: {
                    normal: {
                        show: false,
                    },
                    emphasis: {
                        show: false,
                    }
                },
                roam: true,
                itemStyle: {
                    normal: {
                        areaColor: '#031525',
                        borderColor: '#3B5077',
                    },
                    emphasis: {
                        areaColor: '#2B91B7',
                    }
                }
            },
            series: [{
                name: '散点',
                type: 'scatter',
                coordinateSystem: 'geo',
                data: convertData(data),
                symbolSize: function (val) {
                    return val[2] / 10;
                },
                label: {
                    normal: {
                        formatter: '{b}',
                        position: 'right',
                        show: true
                    },
                    emphasis: {
                        show: true
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#05C3F9'
                    }
                }
            },
                {
                    type: 'map',
                    map: mapName,
                    geoIndex: 0,
                    aspectScale: 0.75, //长宽比
                    showLegendSymbol: false, // 存在legend时显示
                    label: {
                        normal: {
                            show: true
                        },
                        emphasis: {
                            show: false,
                            textStyle: {
                                color: '#fff'
                            }
                        }
                    },
                    roam: true,
                    itemStyle: {
                        normal: {
                            areaColor: '#031525',
                            borderColor: '#3B5077',
                        },
                        emphasis: {
                            areaColor: '#2B91B7'
                        }
                    },
                    animation: false,
                    data: data
                },
                {
                    name: '点',
                    type: 'scatter',
                    coordinateSystem: 'geo',
                    symbol: 'pin', //气泡
                    symbolSize: function (val) {
                        var a = (maxSize4Pin - minSize4Pin) / (max - min);
                        var b = minSize4Pin - a * min;
                        b = maxSize4Pin - a * max;
                        return a * val[2] + b;
                    },
                    label: {
                        normal: {
                            show: true,
                            textStyle: {
                                color: '#fff',
                                fontSize: 9,
                            }
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#F62157', //标志颜色
                        }
                    },
                    zlevel: 6,
                    data: convertData(data),
                },
                {
                    name: 'Top 5',
                    type: 'effectScatter',
                    coordinateSystem: 'geo',
                    data: data,
                    symbolSize: function (val) {
                        return val[2] / 10;
                    },
                    showEffectOn: 'render',
                    rippleEffect: {
                        brushType: 'stroke'
                    },
                    hoverAnimation: true,
                    label: {
                        normal: {
                            formatter: '{b}',
                            position: 'right',
                            show: true
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'yellow',
                            shadowBlur: 10,
                            shadowColor: 'yellow'
                        }
                    },
                    zlevel: 1
                },

            ]
        };

        myChart.setOption(option);
        // 监听浏览器缩放，图表对象调用缩放resize函数
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    })();

</script>
</body>
</html>
